.LoginPage {
  composes: LoginPage from "./Login.module.css";
}

.MainBlur {
  composes: MainBlur from "./Login.module.css";
}

.Hero {
  composes: Hero from "./Login.module.css";
}

.Eyebrow {
  composes: Eyebrow from "./Login.module.css";
}

.InfoText {
  composes: InfoText from "./Login.module.css";
}

.Lead {
  composes: Lead from "./Login.module.css";
}

.MainForm {
  composes: MainForm from "./Login.module.css";
}

.MainFormBlur {
  composes: MainFormBlur from "./Login.module.css";
}

.form {
  composes: form from "./Login.module.css";
}

.MainFormHeaderText {
  composes: MainFormHeaderText from "./Login.module.css";
}

.Error {
  composes: Error from "./Login.module.css";
}

.FormFooter {
  composes: FormFooter from "./Login.module.css";
}

.Bottom {
  composes: Bottom from "./Login.module.css";
}
